@media screen and (max-width: 400px){
    .logresponsive{
        width: 80% !important;
        
    }
    .custom-toast-container {
        position: fixed; /* Use fixed positioning to control toast placement */
        /* Adjust the top position as needed */
        top: -9%;
        /* Adjust the left position as needed */
        left: -13%;
        /* Additional styles as needed */
      }
}

@media screen and (min-width: 400px){
    .logresponsive{
        width: 50% !important;
       
    }
}

    