.addexp{
  margin-bottom: 20px;
}
.responsive{
  box-shadow: 3px 3px 5px #e9be6f !important;
}

@media screen and (max-width:500px){
    .responsive h2{
      font-size: 20px !important;
      
    }
    .responsive{
        margin-top: 20% !important;
        width: 90% !important;
    }
}
@media screen and (min-width:501px) and (max-width:700px) {
    .responsive {
     
      width: 80% !important;
    }
}