/* 
#header1 .animated{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
    0%{
        transform: translateY(8px);
    }
    100%{
        transform: translateY(-8px);
    }
} */